.grid {
  /* display: grid; */
  /* grid-gap: 1rem; */
  /* grid-template-rows: 1fr 3fr 1fr; */
  /* Set implicit rows */
  /* grid-auto-rows: 3fr; */
  /* grid-template-columns: repeat(2, 1fr); */
}

.item {
  padding: 3rem;
  background: #f4f4f4;
  border: #ccc 1px solid;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}